---
import Layout from "../layouts/Layout.astro";
import Text from "../components/Text.astro";
import Links from "../components/Links.astro";
import WhatIDo from "../components/WhatIDo.astro";
import Music from "../components/Music.astro";
---

<Layout title="Daniel Raybone">
    <main class="grid p-4 justify-center">
        <div class="max-w-3xl">
            <h1 class="py-4 font-extrabold text-6xl">Hello 👋</h1>
            <section>
                <Text>My name is Daniel Raybone, a self taught software developer from the UK.</Text>
            </section>
            <WhatIDo />
            <Music />
            <Links />
            <section class="mt-10">
                <div class="flex justify-center">
                    <img
                        alt="gif"
                        loading="lazy"
                        src="https://cdn.danielraybone.com/screenshots/siesta-tantei-wa-mou-shindeiru.gif"
                    />
                </div>
            </section>
        </div>
    </main>
</Layout>
