---
export interface Props {
    title: string;
    desc: string;
    href: string;
}

const { href, title, desc } = Astro.props;
---

<a
    href={href}
    class="block sm:max-w-sm p-6 border rounded-lg shadow bg-stone-800 border-gray-700 hover:bg-gray-700"
    target="_blank">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
        {title}
    </h5>
    <p class="font-normal text-gray-400">
        {desc}
    </p>
</a>
