---
import Project from "./Project.astro";
import Subtitle from "./Subtitle.astro";
import Text from "./Text.astro";
---

<section>
    <Subtitle>What Do I Do?</Subtitle>
    <Text>
        Currently I am focusing on work and some other projects that I am working on. I am also getting more into
        contributing to open source.
    </Text>
    <Text>
        <ul class="space-y-1 list-disc list-inside grid grid-cols-1 sm:grid-cols-3 gap-3">
            <Project
                title="avrg.dev"
                desc="Cloudflare Worker with proxy for b2 bucket & url shortener"
                href="https://github.com/iAverages/avrg.dev"
            />
            <Project
                title="mie"
                desc="Rust based Discord bot to download video links, and upload them to my CDN."
                href="https://github.com/iAverages/mie"
            />
            <Project
                title="sei"
                desc="Simple anime planner. Put your MAL plan to watch in an organized list."
                href="https://github.com/iAverages/sei"
            />

            <Project
                title="kaori"
                desc="Simple API to fetch the current song I am listening to on Spotify (shown below)"
                href="https://github.com/iAverages/kaori"
            />
            <Project
                title="Yin"
                desc="A Micro Services Discord Bot built with Typescript, MySQL, RabbitMQ."
                href="https://github.com/iAverages/Yin"
            />
            <Project
                title="Kurumi"
                desc="A simple note taking app built with the T3 stack & Monaco editor"
                href="https://github.com/iAverages/Kurumi"
            />
        </ul>
    </Text>
</section>
