---
export interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="generator" content={Astro.generator} />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#633194" />
        <meta name="description" content="Professional at breaking things" />
        <meta property="og:image" content="/images/yin.gif" />
        <link rel="icon" href="/favicon.ico" />
        <title>{title}</title>
    </head>
    <body>
        <slot />
        <style is:global>
            :root {
                --g1: rgb(98, 0, 234);
                --g2: rgb(236, 64, 122);
            }

            @keyframes background-pan {
                from {
                    background-position: 0% center;
                }

                to {
                    background-position: -200% center;
                }
            }

            body {
                animation: background-pan 10s linear infinite;
                background: linear-gradient(to right, var(--g1), var(--g2), var(--g1));
                background-size: 200%;
                height: 100vh;
                overflow: hidden;
                margin: 0px;
                font-family: "Roboto", sans-serif;
            }
        </style>
    </body>
</html>
